// .add-new-playlist-container.add-clicked {
  // display: initial;
// }

.add-new-playlist-container.add-clicked .add-list-box {
  // display: flex;
  visibility: visible;
}

.add-list-box .toggle-section {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.add-list-box .toggle-section::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 1px;
  background-color: rgb(75, 75, 75);
}

// .add-list-box .toggle-section h2 {
//   position: relative;
//   display: flex;
//   flex: 1;
//   font-size: 1.5em;
//   align-items: center;
//   justify-content: center;
//   padding: 1rem 0;
//   font-weight: 500;
//   color: rgb(75, 75, 75);
//   border: solid rgb(75, 75, 75);
//   border-width: 0 0 1px 0;
// }

.add-list-box .toggle-section h2:nth-child(1) {
  font-weight:bold;
  color: black;
}

.add-list-box .toggle-section h2::before {
  position: absolute;
  content: "";
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 60%;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}

.add-list-box .toggle-section h2:nth-child(2)::before {
  visibility: hidden;
  opacity: 0;
  background-color: rgb(75, 75, 75);
  transform: opacity 0.15s ease;
}

.add-list-box .toggle-section h2:nth-child(2):hover::before {
  visibility: visible;
  opacity: 1;
}

.add-list-box .add-to-playlist-section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.add-list-box .add-to-playlist-section > h2 {
  margin: 1rem;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.add-list-box .add-to-playlist-section ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-height: 280px;
  overflow-y: scroll;
}

.add-list-box .add-to-playlist-section li {
  display: flex;
  flex-direction: row;
  margin: 0.75rem 0;
  align-items: center;
}

.add-list-box .add-to-playlist-section li.empty {
  height: 100%;
}

.add-list-box .add-to-playlist-section li img {
  width: 4em;
  aspect-ratio: 1 / 1;
  margin: 0 0.5rem;
}

.add-list-box .add-to-playlist-section li h3 {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
}

.add-list-box .add-to-playlist-section li.empty h3 {
  font-size: 1.8em;
  color: rgb(170, 170, 170);
  margin: 2rem auto;
}

.add-list-box .add-to-playlist-section li button {
  font-weight: 600;
  margin: 0 1rem 0 auto;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: rgb(210, 210, 210);
  border: none;
  cursor: pointer;
  transition: filter 0.15s ease, background-color 0.15s ease, color 0.15s ease;
}

.add-list-box .add-to-playlist-section li button.clicked {
  background-color: black;
  cursor: default;
}

.add-list-box .add-to-playlist-section li button::before {
  content: "Add";
  color: black;
}

.add-list-box .add-to-playlist-section li button.clicked::before {
  content: "Added";
  color: white;
}

.add-list-box .add-to-playlist-section li button:hover {
  filter: invert(100%);
}

.add-list-box .add-to-playlist-section li button.clicked:hover {
  filter: none;
}