.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(173, 216, 230, 0);
  overflow-x: hidden;
  font-size: inherit;
  transition: padding ease-out 0.5s;
}

.right-side main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  // background-color: #51c919bf;
  padding: 12px 24px;
}

main section > h2 {
  font-weight: 500;
}

.right-side .top-section {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #c3c7c897;
}

.top-section .left-box {
  display: flex;
}

.top-section .left-box img {
  margin: 24px;
  height: 22em;
  object-fit: cover;
  filter: drop-shadow(8px 8px 6px rgb(50, 50, 50));
  border-radius: 200px;
}

.top-section .right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 18px;
  flex: 1;
}

.top-section .right-box > h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.top-section .right-box > h3 {
  font-size: 2em;
  font-weight: 500;
  opacity: 0.7;
}

.top-section .shuffle-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 24px;
  right: 24px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.601);
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 500;
}

.top-section .right-box .shuffle-button img {
  width: 1.6em;
  margin-right: 0.3em;
}

.top-section .shuffle-button:hover {
  filter: invert(100%);
}

.bottom-section {
  display: flex;
  flex: 1;
}

.bottom-section .list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color:  #c3c7c897;
}

.bottom-section .list-container .list {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  width: 100%;
}

.bottom-section .list-container .list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: solid 1px black;
}

.bottom-section .list-container .list:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}


.bottom-section .list-container .list .cover-container {
  position: relative;
  height: 8em;
  flex-shrink: 0;
  margin: 6px 0 7px 0;
}

.bottom-section .list-container .list:hover .cover-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.504);
  background-image: url('/Img/Icons/pause.svg');
  background-size: 3.5em;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(100%);
}

.bottom-section .list-container .list img {
  height: 100%;
}

.bottom-section .list-container .list h3 {
  margin-left: 12px;
  font-size: 1.3em;
}

@media (max-width: 545px) {
  .right-side .top-section {
    flex-direction: column;
    align-items: center;

  }
  .right-side .top-section .right-box {
    flex-direction: column;
    align-items: center;
  }

  .top-section .right-box > h2 {
    font-weight: bold;
    margin-bottom: 6px;
  }

  .top-section .shuffle-button {
    position: static;
    margin-bottom: 18px;
  }
}