.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(173, 216, 230, 0);
  overflow-x: hidden;
  font-size: inherit;
  transition: padding ease-out 0.5s;
}

.right-side main {
  display: flex;
  flex-direction: column;
  width: 100%;
  // flex: 1;
  padding: 12px 24px;
}

main section > h2 {
  font-weight: 500;
}

.right-side .top-section {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #c3c7c897;
  transition: background-color 0.5s ease;
}

.top-section > ul {
  display: flex;
  max-width: 100%;
  margin: 0 24px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 5%, rgb(0, 0, 0, 1) 95%, rgb(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to left, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 5%, rgb(0, 0, 0, 1) 95%, rgb(0, 0, 0, 0) 100%);
  // align-self: stretch;
}

.top-section .artist-box {
  position: relative;
  display: flex;
  justify-content: start;
  min-width: 50%;
  flex-shrink: 0;
  transition: transform 0.5s ease-out;
}

.top-section .artist-box.filler-start {
  margin-left: calc(50% - 11em);
}

.top-section .artist-box.filler-end {
  margin-right: 11em;
}

.top-section .artist-box.selected {
  transform: scale(1);
}

.top-section .artist-box img {
  margin: 24px 0;
  height: 22em;
  object-fit: cover;
  border-radius: 200px;
  transform: scale(0.7);
  transform-origin: center;
  filter: drop-shadow(0 0 5px rgba(41, 41, 41, 0.878)) blur(4px);
  cursor: pointer;
  transition: transform 0.5s ease-out, filter 0.5s ease-in;
}

.top-section .artist-box.selected img {
  filter: drop-shadow(8px 8px 5px rgba(41, 41, 41, 0.878)) blur(0);
  transform: scale(1);
}

.top-section .artist-box .title-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  bottom: 24px;
  left: 0;
  width: 22em;
  height: 22em;
  z-index: 10;
  border-radius: 100%;
  box-shadow: 0 0 0 0 rgba(58, 58, 58, 0) inset;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0) 65%, rgba(80, 80, 80, 0.5) 75%, rgb(21, 21, 21) 100%);
  transition: opacity 1s ease-out, box-shadow 1s ease-out;
}

.top-section .artist-box.selected .title-box {
  visibility: visible;
  opacity: 1;
  box-shadow: 10px 10px 15px 1px rgba(255, 255, 255, 0.607) inset;
}

.top-section .artist-box .title-box h3 {
  text-align: center;
  color: rgb(219, 219, 219);
  font-size: 1.3em;
  margin: 3px 0;
  font-weight: 500;
}

.top-section .artist-box .title-box h3:first-child {
  margin-top: 73%;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.top-section .arrow-section {
  position: absolute;
  display: flex;
  top: calc(24px + 8em);
  // top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.top-section .arrow-section .left-arrow,
.top-section .arrow-section .right-arrow {
  display: inline-block;
  width: 7em;
  height: 7em;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.top-section .arrow-section .left-arrow:hover,
.top-section .arrow-section .right-arrow:hover {
  filter: invert(100%);
}

.top-section .left-arrow {
  background-image: url('/Img/Icons/chevron_left.svg');
  margin-right: 8em;
}

.top-section .right-arrow {
  background-image: url('/Img/Icons/chevron_right.svg');
  margin-left: 8em;
}

.top-section .add-fav-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 3em;
  height: 3em;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url('/Img/Icons/artist.svg');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  transition: transform 0.5s ease-in, box-shadow 0.5s ease-in, border 0.5s ease-in;
}

.top-section.add .add-fav-button {
  filter: invert(100%);
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border: solid 1px black;
  transform: rotate(45deg);
}

.top-section .add-fav-button::before {
  position: absolute;
  display: var(--set-display, initial);
  visibility: hidden;
  content: "Pick your favourite Artist";
  top: 0.2em;
  right: 3.5em;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  font-size: 1.1em;
  font-weight: 500;
  text-wrap: nowrap;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.top-section.add .add-fav-button::before {
  content: "Exit Add Mode";
  transform: rotate(-45deg);
  top: 65px;
  right: 25px;
}

.top-section .add-fav-button:hover {
  filter: invert(100%);
}

.top-section .add-fav-button:hover::before {
  visibility: visible;
  opacity: 1;
}

.top-section .shuffle-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 24px;
  right: 24px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 500;
  z-index: 20;
  transition: opacity 0.5s ease-in;
}

.top-section.add .shuffle-button {
  visibility: hidden;
  opacity: 0;
}

.top-section .right-box .shuffle-button img {
  width: 1.6em;
  margin-right: 0.3em;
}

.top-section .shuffle-button:hover {
  filter: invert(100%);
}

.bottom-section {
  display: flex;
  flex: 1;
}

.bottom-section .list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color:  #c3c7c897;
  transition: background-color 0.5s ease;
}

.bottom-section .list-container.add {
  background-color:  #2a2b2b97;
}

.bottom-section .list-container .list {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  background-color: var(--background-change, rgba(0, 0, 0, 0));
  color: var(--text-color, rgb(0, 0, 0));
  transition: background-color 0.15s ease, color 0.15s ease;
  cursor: pointer;
  border: solid black;
  border-width: 0 0 1px 0;
}

.bottom-section .list-container .list:last-child {
  border: none;
}

.bottom-section .list-container.add .list {
  background-color: var(--background-change, rgba(0, 0, 0, 0));
  color: var(--text-color, rgb(255, 255, 255));
}

.bottom-section .list-container.add .list {
  border-color: rgb(255, 255, 255);
}

.bottom-section .list-container.add .list::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  background-image: url('/Img/Icons/playlist-add-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 3em;
  height: 3em;

}

.bottom-section .list-container .list.empty::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  background-image: url('/Img/Icons/playlist-add-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 3em;
  height: 3em;
  filter: invert(100%);
}

.bottom-section .list-container .list.empty:hover:after {
  filter: invert(0%);
}

.bottom-section .list-container .list.checked::after {
  background-image: url('/Img/Icons/playlist_add_check_icon.svg');
}

.bottom-section .list-container .list:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transition: background-color 0.15s ease;
}

.bottom-section .list-container.add .list:hover {
  background-color: rgba(255, 57, 57, 0.6);
  transition: background-color 0.5s ease;
}

.bottom-section .list-container .list.checked:hover {
  background-color: rgba(59, 255, 42, 0.6);
}


.bottom-section .list-container .list .cover-container {
  position: relative;
  height: 8em;
  flex-shrink: 0;
  margin: 6px 0 7px 0;
}

.bottom-section .list-container .list .cover-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.504);
  background-image: url('/Img/Icons/pause.svg');
  background-size: 3.5em;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(100%);
  opacity: var(--before-opacity, 0);
  transition: opacity 0.15s ease;
}

.bottom-section .list-container .list.empty .cover-container::before {
  background-image: url('/Img/Icons/add-icon.svg');
}

.bottom-section .list-container.add .list .cover-container::before {
  background-image: url('/Img/Icons/add-icon.svg');
}

.bottom-section .list-container.add .list.checked .cover-container::before {
  background-image: url('/Img/Icons/check_icon.svg');
}

.bottom-section .list-container .list:hover .cover-container::before {
  opacity: 1;
}

.bottom-section .list-container .list img {
  height: 100%;
}

.bottom-section .list-container .list h3 {
  margin-left: 12px;
  font-size: 1.5em;
}

@media (max-width: 545px) {

  .right-side .top-section {
    flex-direction: column;
    align-items: center;
  }

  // .top-section > ul {
  //   display: flex;
  //   max-width: 100%;
    
  //   // margin: 0 24px;
  //   margin: 40px;
  //   overflow-x: scroll;
  //   -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 5%, rgb(0, 0, 0, 1) 95%, rgb(0, 0, 0, 0) 100%);
  //   mask-image: linear-gradient(to left, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 5%, rgb(0, 0, 0, 1) 95%, rgb(0, 0, 0, 0) 100%);
  // }

  .top-section .shuffle-button {
    position: static;
    margin-bottom: 18px;
  }

  .top-section .add-fav-button {
    position: static;
    margin-bottom: 18px;
  }

  .top-section .add-fav-button::before {
    top: -50%;
    text-wrap: wrap;
  }

  .top-section.add .add-fav-button::before {
    top: 20px;
  }
}